main {
    padding: 1% 2%;
}

main
{
    display: grid;
    grid-template-rows: min-content auto auto;
    align-items: center;
    gap: 5px;
    text-align: center;
}

#add_button_block
{
    text-align: center;
}

#add_button_block button
{
    margin: 5px;
}

table {
    text-align: left;
}