body {
    background-color: #282828;
    color: white;
}

main {
    position: relative;
    min-height: 85vh;
}

footer p {
    width: 100%;
    bottom: 0;
    margin-top: 10px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}