<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Disney Pins DataBase</title>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- Haut de page -->
    <header>
        <%- include('../partials/header') %>
    </header>

    <!-- Contenue de la page -->
    <main>
        <!-- Description du site (En attendant le vrai contenue de la page) -->
        <div class="description-projet">
            <h1>Projet - Disney Pins DataBase</h1>
            <p>Disney Pins DataBase est une API répertoriant tous les Pins des différents parcs Disneyland. Ce projet est en cours de réalisation et a pour objectif d'être présenté à l'épreuve E4 du BTS SIO option SLAM</p>
        </div>
    </main>

    <!-- Pied de page -->
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>